In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import ttest_ind

In [85]:
data=pd.read_csv('Week_8_Q&A_dataset - Sheet1.csv')

In [86]:
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# 1 Descriptive Analysis on Data set

In [87]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [104]:
data.shape

(28, 3)

# 2 check whether female and male score the same marks

In [88]:
male_sample = data[data['Gender'] =='male']['Total Marks']

In [89]:
male_sample

0     14
6     30
8     18
9     24
10    44
11    23
12    43
13    28
18    47
19    36
20    14
21    44
Name: Total Marks, dtype: int64

In [90]:
male_sample.describe()

count    12.000000
mean     30.416667
std      12.168950
min      14.000000
25%      21.750000
50%      29.000000
75%      43.250000
max      47.000000
Name: Total Marks, dtype: float64

In [91]:
female_sample=data[data['Gender']=='female']['Total Marks']

In [92]:
female_sample

1     28
2     18
3     48
4     21
5     40
7     12
14    41
15    13
16    48
17    45
22    41
23    27
24    27
25    38
26    50
27    43
Name: Total Marks, dtype: int64

In [93]:
female_sample.describe()

count    16.000000
mean     33.750000
std      12.865976
min      12.000000
25%      25.500000
50%      39.000000
75%      43.500000
max      50.000000
Name: Total Marks, dtype: float64

Null Hypothesis H0: Average marks for male and female students are the same
Alternative Hypothesis H1:Average marks for male and female students are different

In [96]:
ttest_ind(male_sample,female_sample,equal_var = True)

Ttest_indResult(statistic=-0.6940885268848668, pvalue=0.4937822317960763)

we cannot  reject the null hypothesis because p value is greater than level of signifiance 0.05
average mark of male and female are same

# 3 whether test preparation helps the students

In [78]:
test_completed=data[data['Test preparation']=='completed']['Total Marks']

In [79]:
test_completed

5     40
10    44
12    43
16    48
21    44
26    50
27    43
Name: Total Marks, dtype: int64

In [98]:
test_completed.describe()

count     7.000000
mean     44.571429
std       3.359422
min      40.000000
25%      43.000000
50%      44.000000
75%      46.000000
max      50.000000
Name: Total Marks, dtype: float64

In [81]:
test_notcompleted=data[data['Test preparation']=='none']['Total Marks']

In [82]:
test_notcompleted

0     14
1     28
2     18
3     48
4     21
6     30
7     12
8     18
9     24
11    23
13    28
14    41
15    13
17    45
18    47
19    36
20    14
22    41
23    27
24    27
25    38
Name: Total Marks, dtype: int64

In [99]:
test_notcompleted.describe()

count    21.000000
mean     28.238095
std      11.661495
min      12.000000
25%      18.000000
50%      27.000000
75%      38.000000
max      48.000000
Name: Total Marks, dtype: float64

H0:Average mark  of testcompleted is equal to average mark of  test not completed
H1: Average mark of test completed is not equal to average mark  of test not completed

In [101]:
ttest_ind(test_completed,test_notcompleted,equal_var=True)

Ttest_indResult(statistic=3.6143637527769217, pvalue=0.0012671292457320106)

p value<level of significance (0.05),so we can reject the null hypothesis
Test preparation helps the students