In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data=pd.read_csv("F:\Data set\AAPL.csv")

In [9]:
data.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.099319  469033600
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.094137  175884800
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.087228  105728000
3  1980-12-17  0.115513  0.116071  0.115513  0.115513   0.089387   86441600
4  1980-12-18  0.118862  0.119420  0.118862  0.118862   0.091978   73449600

In [10]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,10836.000000,10836.000000,10836.000000,10836.000000,10836.000000,1.083600e+04
mean,19.783697,20.002122,19.574328,19.797366,19.045572,3.219041e+08
std,41.396815,41.861870,40.966144,41.435703,41.030076,3.364615e+08
min,0.049665,0.049665,0.049107,0.049107,0.038000,0.000000e+00
25%,0.294643,0.301339,0.287332,0.294643,0.241206,1.164436e+08
50%,0.508929,0.516183,0.500000,0.508371,0.417317,2.094288e+08
75%,18.786697,18.965447,18.640090,18.800624,16.369706,4.017468e+08
max,196.240005,198.229996,195.279999,196.449997,195.926956,7.421641e+09

In [12]:
data.shape

(10836, 7)

In [14]:
data.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64